body {
}

.contact-container a img {

}

.contact-container {
    margin-top:150px;
}

.contact-container h1 {
    color:black !important;
    font-size:30px;
    text-align: center;
    font-family: Questrial, sans-serif;
    letter-spacing: 2px;
}

.contact-container p {
    text-align: center;
    color:black;
    font-family: Questrial, sans-serif;
    letter-spacing: 2px;
}

.contact-img {
    width: auto !important;
    height: 100px !important;
    filter: grayscale(100%);
    display: block;
    margin: 0 auto;
    transition: all 400ms ease-in-out;
}

.contact-img:hover {
    filter: grayscale(0%);
}

.contact-img-container {
    margin: 0 auto;
    display: block;
    margin-top:20px;
    width:50%;
}
h1 {
    font-size:100px !important;
}

p {
    font-size:60px !important;
}


@media (max-width: 480px) {
body {
}

}
@media (min-width: 480px) and (max-width: 768px) {
    body {
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
    }
}


